@media (max-width: 991px) {
  .header {
    &__logo {
      width: 215px;
    }
    &__phone {
      font-size: 14px;
      font-weight: 500;
      margin-top: 0px;
    }
    .button {
      width: 102px;
      height: 18px;
      font-size: 9px;
    }
  }

  .promo {
    background-position: center center;
    &__wrapper {
      align-items: center;
    }
    &__header {
      font-size: 33px;
    }
    &__subheader {
      font-size: 21px;
    }
    .button_main {
      width: 245px;
      height: 40px;
      font-size: 15px;
    }
  }

  .advant {
    .title {
      font-size: 28px;
    }
    &__item {
      width: 190px;
    }
    &__subtitle {
      font-size: 17px;
    }
  }

  .consultation {
    .title_left {
      font-size: 30px;
      text-align: center;
      line-height: 40px;
    }
    &__descr {
      text-align: center;
    }
    .feet-form {
      width: 250px;
      margin: 80px auto;
      input {
        height: 45px;
        width: 250px;
      }
      .button_submit {
        height: 45px;
      }
    }
  }
  .carousel {
    .prev,
    .next {
      margin: 20px;
      position: relative;
      left: 38%;
      top: 50px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    flex-wrap: wrap;
    align-content: space-between;
    &__logo {
      margin: auto;
    }
    &__official {
      margin: auto;
      padding: 15px;
    }
    &__contacts {
      margin: auto;
      align-items: center;
    }
  }
  .advant {
    .title {
      font-size: 28px;
    }
    &__item {
      width: 154px;
    }
    &__subtitle {
      font-size: 14px;
    }
  }
  .consultation {
    &__descr {
      text-align: center;
    }
    .feet-form {
      margin: 80px auto;
    }
  }
}

@media (max-width: 575px) {
  .promo {
    background-position: center left;
    img {
      margin-bottom: 12px;
    }
    &__wrapper {
      margin-top: 30px;
    }
    &__header {
      font-size: 19px;
    }
    &__subheader {
      display: block;
      text-align: center;
      font-size: 16px;
    }
    &__icons {
      flex-direction: column;
      align-items: center;
      margin-top: 12px;
    }
    &__icon {
      width: 163px;
      margin-top: 20px;
    }
    .button_main {
      width: 200px;
      height: 35px;
      font-size: 13px;
      margin-top: 41px;
    }
  }

  .advant {
    padding: 30px 0 45px 0;
    .title {
      font-size: 18px;
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 6px;
    }
    &__item {
      width: 190px;
      margin-top: 33px;
    }
    &__subtitle {
      font-size: 17px;
      margin-top: 13px;
    }
    &__descr {
      margin-top: 11px;
    }
  }

  .consultation {
    background-position: center left;
    padding: 37px 0 8px 0;
    .title_left {
      font-size: 16px;
      line-height: 28px;
      margin-top: 31px;
    }
    &__descr {
      text-align: center;
      font-size: 19px;
      line-height: 19px;
      margin-top: 41px;
    }
    .feet-form {
      width: 180px;
      input {
        height: 39px;
        width: 180px;
      }
      .button_submit {
        height: 35px;
        font-size: 12px;
      }
    }
  }
  .carousel {
    .prev,
    .next {
      margin:auto ;
      img {
        width: 25px;
        height: 40px;
      }
    }
  }
}
