$main-color: #c70101;

* {
  font-family: "MuseoSansCyrl", sans-serif;
}

.container {
  position: relative;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 20px;
}
// @import "base/variables";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/advant";
@import "blocks/title";
@import "blocks/buttons";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/review";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pegeup";

@import "base/mixins";
@import "base/media";
