.feet-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  input {
    border-radius: 5px;
    height: 54px;
    width: 300px;
    background-color: #fff;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
    &:nth-child(3) {
      margin-bottom: 17px;
    }
  }
  &_mt25 {
    margin-top: 20px;
    input {
      &:nth-child(3) {
        margin-bottom: 17px;
      }
    }
  }
}
